@import url("https://fonts.googleapis.com/css?family=Montserrat|Work+Sans&display=swap");
html {
  font-size: calc(12px + .4vw); }

body {
  font-family: 'Work Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; }

p {
  color: rgba(0, 0, 0, 0.75);
  line-height: 30px; }

.lead {
  font-size: 18px; }
  @media screen and (max-width: 440px) {
    .lead {
      font-size: 16px; } }

.bgPrimary {
  background: #000473; }

.bgSecondary {
  background: #F2FD48; }

.textPrimary {
  color: #000473; }

hr {
  width: 100px;
  border: 0.8px solid #F2FD48;
  padding: 0;
  margin-top: 0; }

@media (max-width: 576px) {
  .portfolioCard, .serviceCard {
    width: 85%; } }

.portfolioCard .cardHeader, .serviceCard .cardHeader {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
  display: block;
  margin-top: 1rem; }

.navbar-toggler {
  outline: none !important; }

.whiteToggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.blackToggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(20,50,115)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navborderTop {
  border-top: 2px solid #F2FD48; }

nav {
  transition: all .1s; }
  nav .navbar-nav .nav-link {
    font-size: 16.2px;
    margin-right: 12px; }
    nav .navbar-nav .nav-link:after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: #F2FD48;
      transition: 300ms; }
    nav .navbar-nav .nav-link:hover:after {
      width: 100%; }

.c-1 {
  order: 1;
  text-align: left; }
  @media (max-width: 767px) {
    .c-1 {
      order: 2;
      text-align: center; } }

.c-2 {
  order: 2; }
  @media (max-width: 767px) {
    .c-2 {
      order: 1; } }

header .btn-outline-light:hover {
  color: black !important; }

header #landing {
  height: 88vh; }
  header #landing .preLandingHeading {
    font-size: 1.375em; }
    @media (max-width: 767px) {
      header #landing .preLandingHeading {
        display: none; } }
  @media (max-width: 767px) {
    header #landing .landingHeading {
      font-size: 2em; } }
  header #landing .landingBtn {
    padding: .6rem 1.8rem .6rem 1.8rem;
    font-size: 1.06em;
    background: #F2FD48;
    color: #343a40; }
    @media (max-width: 440px) {
      header #landing .landingBtn {
        font-size: 1.3em; } }
  header #landing .headerImage {
    width: 100%;
    height: auto; }
    @media (max-width: 767px) {
      header #landing .headerImage {
        width: 220px; } }

.footerHeader {
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: all .1s; }

.project {
  color: black; }

.project:hover {
  color: black;
  text-decoration: underline; }
