<footer class="bg-dark py-5">
    <div class="container">
        <div class="row text-white">
            <!-- Number -->
            <div class="col-md-6 col-lg-4 text-center">
                <span class="p-3 rounded-circle d-inline-block shadow">
                    <img src="images/icons/call.svg" class="img-fluid" style="width:25px" />
                </span>

                <p class="footerHeader mt-3 text-white">Talk to us</p>

                <ul class="list-unstyled">
                    <li class="small text-light">+(234) 813 068 1705</li>
                </ul>
            </div>

            <!-- EMail -->
            <div class="col-md-6 col-lg-4 text-center mt-4 mt-md-0">
                <span class="p-3 rounded-circle d-inline-block shadow">
                    <img src="images/icons/email.svg" class="img-fluid" style="width:25px" />
                </span>

                <p class="footerHeader mt-3 text-white">Email</p>

                <ul class="list-unstyled">
                    <li class="small text-light">Experiencetechnologies@gmail.com</li>
                </ul>
            </div>

            <!-- Location -->
            <div class="col-md-6 col-lg-4 text-center mt-4 mt-lg-0">
                <span class="p-3 rounded-circle d-inline-block shadow">
                    <img src="images/icons/map-location.svg" class="img-fluid" style="width:25px" />
                </span>

                <p class="footerHeader mt-3 text-white">Location</p>

                <ul class="list-unstyled">
                    <li class="small text-light">Number 6 centage estate apo, Abuja FCT</li>
                </ul>
            </div>
        </div>
    </div>
</footer>