<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bgPrimary text-white">
					<span class="text-center modalHeader" id="exampleModalLabel">Talk to us</span>

					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="font-weight-light">x</span>
					</button>
				</div>

				<div class="modal-body">
					<p class="mb-5">Send us a ring and we’ll get back to you as soon as we can. Feel
						free to use the contact form below or send us an email <a href="#">here</a>.
					</p>

					<div class="form-group">
						<label for="name">Name/Company Name</label>
						<input type="text" class="form-control shadow-sm bg-light py-4" placeholder="john doe" />
					</div>

					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control shadow-sm bg-light py-4" placeholder="johndoe@gmail.com" />
					</div>

					<div class="form-group my-4">
						<label for="phoneNumber">Phone Number</label>
						<input type="tel" class="form-control shadow-sm bg-light py-4"
							placeholder="(+1) 234 ___ ___ ___" />
					</div>

					<div class="form-group">
						<label for="name">Message</label>
						<textarea class="form-control shadow-sm bg-light py-4" rows="3"
							placeholder="Register for a course, Tell us about your project or just say hello"></textarea>
					</div>

					<button type="submit" class="btn btn-block bgPrimary text-white mt-4 py-3">Send Message</button>
				</div>

			</div>
		</div>
	</div>