@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$primaryColor: #000473;
$secondaryColor: #F2FD48;

html{
    font-size: calc(12px + .4vw);
}


body {
	font-family: 'Work Sans', sans-serif;
}



hr {
	width: 100px;
	border: .8px solid $secondaryColor;
	padding: 0;
	margin-top: 0;
}

.whiteToggler{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.blackToggler {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(20,50,115)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
	outline: none !important;
}


p{
	color: rgba(0, 0, 0, 0.75);
	line-height: 30px;
}

::placeholder{
	color: #86888C !important;
	font-size: .8em;
}

.lead{
	font-size: 18px;

	@media screen and (max-width:440px) {
		&{
			font-size: 16px;
		}
	}
}

.c-1{
	order: 1;
	text-align: left;

	@media(max-width: 767px){
		&{
			order: 2;
			text-align: center;
		}
	}
}

.c-2 {
	order: 2;

	@media(max-width: 767px) {
		& {
			order: 1;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.bgPrimary {
	background: $primaryColor;
}

.bgSecondary {
	background: $secondaryColor;
}

.cardHeader{
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.05em;
	display: block;
	margin-top: 1rem;
}

.navborderTop{
	border-top: 2px solid $secondaryColor;
}

.navborderBottom{
	border-bottom: 1px solid $primaryColor;
}

header {
	nav{
		transition: all .1s;
	
		.navbar-nav {
			.nav-link {
				font-size: 16.2px;
				margin-right: 12px;
				// letter-spacing: .3px;
				font-family: 'work sans', sans-serif;

				&:after {
					content: '';
					width: 0px;
					height: 1px;
					display: block;
					background: $secondaryColor;
					transition: 300ms;
				}

				&:hover:after {
					width: 100%;
				}
			}
		}

	}
	.btn-outline-light:hover {
		color: black !important;
	}

	#landing {
		height: 88vh;

		.preLandingHeading {
			font-size: 1.375em;

			// @media(max-width:440px){
			// 	&{
			// 		font-size: 1.4rem;
			// 	}
			// }

			@media(max-width: 767px) {
				& {
					display: none;
				}
			}
		}

		.landingHeading{
			@media(max-width: 767px) {
				& {
					font-size: 2em;
				}
			}
		}

		.landingBtn {
			padding: .6rem 1.8rem .6rem 1.8rem;
			font-size: 1.06em;
			background: $secondaryColor;
			color: #343a40;

			// &:hover{
			// 	margin-left: 5px;
			// 	transition: all .3s;
			// 	background: $primaryColor;
			// 	color: white !important;
			// 	border: 1px solid $secondaryColor;

			// 	.i1{
			// 		display: none;
			// 	}

			// 	.i2{
			// 		display: block;
			// 	}
			// }

			@media(max-width:440px){
				&{
					font-size: 1.3em;
				}
			}
		}

		.headerImage{
			width: 100%;
			height: auto;

			@media(max-width:767px){
				width: 220px;
			}
		}
	}
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	transition: all .1s;
}